ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.node {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;
}

.nodeSelected {
  background: #f0f0f0;
}

.icon {
  padding: 10px 5px;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  position: absolute;
}

.iconOpened {
  transform: rotate(180deg);
}

.title {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
}

.title:hover {
  text-decoration: underline;
}

.titleSelected {
  font-weight: bold;
}

.child {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease 0.1s;
}

.childOpened {
  max-height: 100vh;
}
