ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px 0;
}

.node {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  transition: background 0.2s ease;
}

.nodeSelected {
  background: #f0f0f0;
}

.icon {
  padding: 11px 5px;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  position: absolute;
}

.iconOpened {
  transform: rotate(180deg);
}

.text {
  flex: 1 1 auto;
}

.title {
  padding: 5px 17px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.title:hover {
  text-decoration: underline;
}

.titleSelected {
  font-weight: bold;
}

.childPane {
}

.child {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease 0.1s;
}

.childOpened {
  max-height: 10000px;
}

.anchor {
  padding: 5px 17px 5px 35px;
  font-size: 14px;
  line-height: 19px;
}

.anchor:hover {
  text-decoration: underline;
}

.anchorSelected {
  font-weight: bold;
}
