.layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.block {
  background-color: red;
}

.header {
  min-height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.title {
  padding: 11px 25px 11px 20px;
  color: white;
  line-height: 1;
  font-size: 14px;
}

.app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.sideBar {
  background-color: #fafafa;
  border-right: #e6e6e6 solid 1px;
  max-width: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  transition: max-width 0.2s ease;
}

.menu {
  padding: 70px 20px;
  line-height: 1;
}

@media (max-width: 768px) {
  .sideBar {
    max-width: 150px;
  }
}

.content {
  padding: 20px;
  max-width: 920px;
  margin-left: 300px;
  transition: margin-left 0.2s ease;
}

@media (max-width: 768px) {
  .content {
    margin-left: 150px;
  }
}
