.sideMenu {
  background-color: #fafafa;
  border-right: #e6e6e6 solid 1px;
  max-width: 300px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: max-width 0.2s ease;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sideMenu {
    max-width: 150px;
  }
}

.menu {
  position: relative;
  margin-top: 50px;
  padding: 20px 0;
  line-height: 1;
}

.placeholder {
  position: relative;
  max-width: 100%;
}
