.sideMenu {
  background-color: #fafafa;
  border-right: #e6e6e6 solid 1px;
  max-width: 300px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  transition: max-width 0.2s ease;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sideMenu {
    max-width: 0;
  }
}

.sideMenuOpened {
  max-width: 300px;
}

.menu {
  position: relative;
  padding: 15px 0;
  line-height: 1;
}

.placeholder {
  position: relative;
  max-width: 100%;
  padding: 0 40px;
  transition: opacity 0.5s ease;
  animation: hideshow 1s ease infinite;
}

@keyframes hideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
