.placeholder {
  padding: 0 40px;
  transition: opacity 0.5s ease;
  animation: hideshow 1s ease infinite;
}

@keyframes hideshow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
